<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        html,body {
            height: 100%
        }
    </style>
</head>
<body>
<input class="account" type="text">
<input class="password" type="password">
<button id="btn">登录</button>
</body>
<script>
    $(function(){
        console.log($("#btn"))
        $("#btn").on('click',function(){
            var data = {
                account: $(".account").val(),
                password: $(".password").val()
            }
            $.post('/admin/submit',data, function(res){
                console.log(res);
            })
        })
    })
</script>
</html>